{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'content_browser/css/styles.css' %}">
    <title>Webnotes Blog</title>

    <style>
        *{
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>
<body>
    <!-- Navbar + short site description -->
    <header>
        <!-- Navbar -->
        <nav class="navbar bg-dark">
            <span class="navbar-brand text-light">WebNotes</span>
        </nav>

        <!-- Short site description -->
        <div class="jumbotron rounded px-3 pt-5 pb-2 mt-1 mb-1">
            <div class="text-center">
                <h1 class="mb-4">
                    <span style="color: #faa115;">WebNotes</span> - web developer swiss army knife
                </h1>
                <p class="lead mb-4">
                    Here you will find interesting articles about web development
                    with Python, Django, HTML5, CSS3 and JavaScript.
                </p>
            </div>
        </div>
    </header>

    <!-- Content browser -->
    {% include 'content_browser/content_browser_area.html' %}

    <!-- Social links -->
    <footer>
        <div class="d-flex flex-column bg-dark rounded p-2">
            <h5 class="text-light text-center my-2">
                You can find us in social nets:
            </h5>
            <div class="d-flex justify-content-center">
                <a href="https://www.vk.com">
                    <i class="fab fa-vk fa-2x rounded m-2 p-2"
                        style="background: #4c75a3; color: #fffefb;"></i>
                </a>
                <a href="https://www.facebook.com">
                    <i class="fab fa-facebook fa-2x rounded m-2 p-2"
                        style="background: #28aae1; color: #ffffff;"></i>
                </a>
                <a href="https://www.twitter.com">
                    <i class="fab fa-twitter fa-2x rounded m-2 p-2"
                    style="background: #28aae1; color: #ffffff;"></i>
                </a>
                <a href="https://www.instagram.com">
                    <i class="fab fa-instagram fa-2x rounded m-2 p-2"
                    style="background: #ffffff; color: #f8390b;"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="{% static 'content_browser/js/content_browser.js' %}"></script>

    <script>
        // 'All articles' tab code

        let set_article_link_click_handler = () => {
            $('a.article-link').on("click", (event) => {
                event.preventDefault();

                let article_url = event.target.href;
                content_browser.load_article(article_url);
            });
        }

        set_article_link_click_handler();

        let observed_node = document.querySelector("#all-articles-container");
        let observer_callback = set_article_link_click_handler;

        let observer_config = {
            childList: true,
            subtree: true
        }

        let all_articles_tab_observer = new MutationObserver(observer_callback);
        all_articles_tab_observer.observe(observed_node, observer_config);

        $("#load-more-articles-button").on('click', (event) => {
            event.preventDefault();

            let fetch_count = parseInt($("select#articles-fetch-count").val());
            content_browser.load_more_articles(fetch_count);
        });
        // End of 'All articles' tab code

        // 'Search results' tab code

        let search_input = $("#search-form #search_input");

        search_input.on('input', function(){
            this.setCustomValidity('');
            this.checkValidity('');
        });

        search_input.on('invalid', function(){
            if (!this.value){
                this.setCustomValidity('Empty query string!');
            }
            else {
                this.setCustomValidity('Query string must start with word char ([A-Z a-z 0-9 _])!');
            }
        });

        $("#search-form form").on('submit', (event) => {
            event.preventDefault();

            let query_string = search_input.val().trim();
            content_browser.search_articles(query_string);
        });

        // End of 'Search results' tab code
    </script>
</body>
</html>
