<div id="all-articles-container" class="border-bottom border-dark py-1 mb-2">
    {% for article in last_10_articles reversed %}
        {% include 'content_browser/article_card.html'%}
    {% endfor %}
</div>
<div id="articles-loading-settings" class="d-flex justify-content-center">
    <div class="mr-3">
        <span>Fetch count</span>
        <select class="form-control" id="articles-fetch-count">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <button class="btn btn-primary p-3" type="submit">
        <a href="{% url 'load_more_articles' %}" class="text-light font-weight-bold h5">
            Load more
        </a>
        <i class="fas fa-download"></i>
    </button>
</div>
