<article>
    <div class="card border border-dark">
        <div class="card-body">
            <h4 class="card-title">
                <a href="{% url 'article' article.id %}" class="article-link">
                    {{article.header}}
                </a>
            </h4>
            <p class="card-text border-bottom border-dark pt-2 pb-2">
                {{article.content | truncatewords:30}}
            </p>
            <p class="text-right h6">
                <span class="font-weight-bold">Date:</span>
                {{article.publication_date}}
            </p>
            <p class="text-right h6">
                <span class="font-weight-bold">Authors:</span>
                {% for author in article.authors.all %}
                    {{author}}
                {% endfor %}
            </p>
        </div>
    </div>
</article>
