<div id="content-browser-area"
    class="d-flex flex-column text-center mb-1 p-2 border-top border-bottom border-dark">
    <div id="search-form" class="d-flex flex-column mb-2 w-100">
        <form method="GET" action="{% url 'search' %}">
            {% csrf_token %}
            <input type="search" name="query_string" required
                class="form-control form-control-lg border-dark"
                id="search_input" placeholder="Type text and press Enter..."
                maxlength="150" pattern="^\w(.*)">
        </form>
    </div>

    <!-- Tabs for all articles, opened articles and for showing search results -->
    <ul class="nav nav-pills nav-fill border-bottom border-dark pb-2" id="content-browser">
        <li class="nav-item tab">
            <a class="nav-link active font-weight-bold" data-toggle="pill" href="#all-articles-tab" accesskey="a">
                All articles
            </a>
        </li>
        <li class="nav-item tab">
            <a class="nav-link font-weight-bold" data-toggle="pill" href="#opened-articles-tab" accesskey="o">
                Opened articles
            </a>
        </li>
        <li class="nav-item tab">
            <a class="nav-link font-weight-bold" data-toggle="pill" href="#search-results-tab" accesskey="s">
                Search results
            </a>
        </li>
    </ul>
    <div id="content-displaying-area" class="tab-content text-justify">
        <div class="tab-pane fade show active" id="all-articles-tab">
            {% include 'content_browser/all_articles_tab.html' %}
        </div>
        <div class="tab-pane fade" id="opened-articles-tab">
            {% include 'content_browser/opened_articles_tab.html' %}
        </div>
        <div class="tab-pane fade" id="search-results-tab">
            {% include 'content_browser/search_results_tab.html' %}
        </div>
    </div>
</div>
